* {
  margin: 0;
  padding: 0;
}

.column-resize-handler {
  position: absolute;
  cursor: col-resize;
  user-select: none;
  width: 4px;
  right: -4px;
  z-index: -10000000000;
  top: 0
}

.dropdown-trigger:hover>ul {
  display: block;
}

.dropdown-trigger>ul {
  display: none;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}
 
/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}